* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.cabecalho {
	width: 100%;
	display: flex;
	background-color: #64277cc5;
	justify-content: space-between;
	align-items: center;
}

.cabecalho img {
	width: 50%;
}

.nomeSite {
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
}

.cabecalho ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.cabecalho li {
	padding: 10px;
}

.cabecalho li a {
	text-decoration: none;
	color: #333;
}

nav {
	top: 110px;
	right: 0;
}

  nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
  }

  nav a:hover {
	color: #0e0b92;
	text-decoration: underline;
  }

  body {
	background-color: #67678881;
	font-family: var(--fonte-padrao);
  }

  .titulo {
	text-align: center;
	font-style: italic;
	color: #000000;
	font-size: 70xp;
  }

  a.externo::after {
	content: '\00A0\1F517';
  }

  main {
	min-width: 300px;
	max-width: 1000px;
	margin: auto;
	margin-bottom: 30px;
	padding: 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 10px black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
  }

  main h1 {
	color: #608b66;
	font-weight: normal;
	font-size: 1.8em;
  }

  main h2 {
	color: #252839;
	font-size: 1.3em;
	background-image: linear-gradient(to right, var(--cor1), transparent);
	text-indent: 8px;
  }

  main h4 {
    color: #0c2eeb;
    font-size: 1.05em;
    text-align: center;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
  }

  main p {
	margin: 15px 0px;
	text-align: justify;
	text-indent: 30px;
	line-height: 2em;
	font-size: 1em;
  }

  main strong {
	color: #252839;
	font-weight: bold;
	padding: 2px 6px;
  }

  main a {
	text-decoration: none;
	font-weight: bold;
	color: #252839;
	background-color: #252839;
	padding: 2px 6px;
  }

  main a:hover {
	text-decoration: underline;
	color: #252839;
  }

  main img {
	width: 100%;
  }

  main img.pequena {
	max-width: 350px;
	display: block;
	margin: auto;
  }

  div.video {
	background-color: #252839;
	margin: 0px -20px 30px -20px;
	padding: 20px;
	padding-bottom: 59%;
	position: relative;
  }

  div.video>iframe {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
  }

  aside {
	background-color: #2528394f;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
  }

  aside>h3 {
	background-color: #252839;
	color: white;
	padding: 10px;
	margin: -10px -10px 0px -10px;
	border-radius: 10px 10px 0px 0px;
  }

  aside>ul {
	list-style-type: '\2714\00A0\00A0';
	list-style-position: inside;
	columns: 2;
  }

  .access-icons {
    margin-top: 10px;
    font-size: 24px;
    color: #0c2eeb;
  }

  .access-icons a {
    color: #252839;
    font-size: 18px;
    margin-right: 10px;
    background-color: transparent;
  }

  .access-icons a:hover {
    color: #0c2eeb;
  }
